.cart {
    width: 355px;
    height: 756px;
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: 999;
    background-color: #FFFFFF;
    transition: all .7s ease-in-out;
}

.cartHead {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cartHead svg {
    width: 39px;
    height: 39px;
}

.cartBody {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cartBody p:nth-child(2) {
    color: #00244D;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px
}

.cartBody p:last-child {
    color: 637182;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.cartBody svg {
    width: 67.42px;
    height: 67.42px;
}